.LoginForm{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.LoginForm__form{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    width: 330px;
}

.LoginForm__label{
    font-size: var(--sm);
    font-weight: bold;
    margin: 8px 0;
}

.LoginForm__input{
    padding: 8px;
    margin: 8px 0px;
    border: 0;
    border-radius: 8px;
    background-color: var(--text-input-field);
    font-size: var(--md);
    height: 32px;
}

.LoginForm__button{
    background-color: var(--orange);
    color: var(--white);
    margin-top: 24px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: var(--md);
    font-weight: bold;
}

.LoginForm__p{
    font-size: var(--md);
    color: var(--orange);
    text-align: center;
}