.item-order{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
}

.item-order__name{
    font-size: 18px;
    font-weight: bold;
}

.order-handler{
    display: flex;
}

.order-handler__icon{
    width: 32px;
    height: 32px;
}

.order-handler__p{
    margin: 0 12px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    width: 20px;
    text-align: center;
}

.form-Cabe-Pela-container{
    width: 326px;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
}

.form-Cabe-Pela-container label{
    font-size: var(--lg);
    font-weight: bold;
}