.navigation-menu-container{
    width: 100vw;
    /* max-width: 400px; */
    background-color: var(--white);
    border-top: solid 2px var(--blue);
    margin: none;
    height: 60px;
    position: fixed;
    bottom: 0;
}

.nav-menu__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
}
