:root{
    font-size: 62.5%;
    --white: #FFFFFF;
    --black: #000000;
    --text-input-field: #F7F7F7;
    --orange: #FFCFAD;
    --blue: #0FBED2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    /* box-sizing: border-box; */
}

.nav-menu__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-menu__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-menu__item img{
    width: 32px;
    height: 32px;
    padding-top: 4px;
}

.nav-menu__item span{
    padding-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
    /* color: var(--white); */
}
