.name-restaurant{
    font-weight: bold;
    font-size: 16px;
}

.ticket-container{
    font-size: 14px;
    width: 7.6cm;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: white;
    overflow: auto;
}

/*  */

.ticket-products-container{
    display: grid;
    font-weight: 500;
    grid-template-columns: 0.65cm 4.07cm 1.44cm 1.44cm;
    grid-auto-rows: 1.17cm;
}

.ticket-item-name{
    text-align: left;
    /* line-height: 20px; */
}

.total-text{
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.8cm;
}

