.item-order-container{
    width: 330px;
    border: solid 2px var(--orange);   
    border-radius: 8px;
    margin: 10px auto;
}

.item-order-container__name{
    background-color: var(--orange);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 2px 0;
}

/* If you want to update the class of below you will also have to update it in the file CategoryCard.css. Because both elements have the same className  */
.avoid-overflow-table{
    margin-top: 48px;
}