.category-container__p{
    text-align: center;
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    background-color: var(--orange);
    width: 100%;
}

.EvitarOverflow{
    height: 60px;
}